* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.single-book {
  background-color: white;
  border: 1px white solid;
  height: 170px;
  width: 85%;
  display: flex;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.book-button-div {
  margin-right: 180px;
}

.single-book .percentage-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-book .chapter-div {
  margin-right: 30px;
}

.chapter-div p {
  margin: 0;
}

.title-div p,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.chapter-div h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.chapter-div button {
  background-color: #0290ff;
  color: white;
  height: 40px;
  width: 80%;
  border: 2px white solid;
  border-radius: 5px;
  cursor: pointer;
}

.percentage-div svg {
  width: 125px;
  height: 120px;
}

.percentage-div svg circle {
  width: 120px;
  height: 120px;
  fill: none;
  stroke-width: 5%;
  stroke: #0290ff;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}

.percentage-div svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.percentage-div svg circle:nth-child(2) {
  stroke-dashoffset: 250;
  stroke: #0290ff;
}

.title-div {
  margin-bottom: 20px;
}

.title-div h3 {
  font-weight: 700;
}

.percentage-div p,
h1 {
  margin: 0;
}

.title-div p:nth-child(1) {
  font-weight: 700;
  color: rgb(170, 169, 169);
}

.title-div p:nth-child(3) {
  color: #0290ff;
}

.button-div button {
  border: 1px white solid;
  background-color: white;
  color: #0290ff;
  cursor: pointer;
}

.add-book form button {
  height: 35px;
  width: 150px;
  background-color: #0290ff;
  color: white;
  border: #0290ff;
  cursor: pointer;
}

.button-div button:nth-child(2) {
  border-left: 2px rgb(170, 169, 169) solid;
  border-right: 2px rgb(170, 169, 169) solid;
}

.percentage-text {
  margin-left: 10px;
}

.verticle-line {
  width: 0;
  height: 80px;
  border: 1px rgb(170, 169, 169) solid;
}

nav ul li {
  list-style-type: none;
}

.book-list ul li {
  display: flex;

  /* border: 2px violet solid; */
}

.add-book {
  /* border: 2px green solid; */
  height: 150px;
  width: 85%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: 30px;
}

.add-book h2 {
  color: rgb(133, 133, 133);
}

.add-book form input {
  height: 35px;
  margin-right: 10px;
  width: 30%;
}

nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 6.25rem;
  margin: 0 auto;
  color: #0290ff;
  font-size: 22px;
  height: 6.3rem;
  background-color: white;
}

nav ul {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  text-decoration: none;
  gap: 60px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: #0290ff;
}

.add-book form input:nth-child(3) {
  width: 20%;
}
